<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pomps.Layer.Properties.Settings.Provider" connectionString="Data Source=POLSKIPROGRAMIS\SQLEXPRESS;Initial Catalog=CTL_GROUP;Persist Security Info=True;User ID=sa;Password=junak"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>